{% extends 'base1.html.twig' %}
{% block body %}

 <!-- about_area_start -->
 <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>CityMarket<br>
                               SOUSSE</h3>
                        </div>
                        <p>CityMarket est la plus grande zone commerciale du Niger, des biens du pays entier ou importés y sont vendus en gros ou au détail. Le marché et en particulier sa zone de commerce artisanale est une attraction touristique importante drainant environ 20 000 touristes par an.</p>
                        
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- about_area_end -->

{% endblock %}